[user]
	name = knakayama
	email = knakayama.sh@gmail.com
[alias]
	st = status
	sts = status -s
	co = commit
	com = commit -m
	coam = commit -am
	l = log --graph --oneline --all --branches --decorate
[color]
	ui = auto
[grep]
	lineNumber = true
[github]
	user = knakayama
[core]
	excludesfile = ~/.gitignore.global
