[submodule ".zsh/plugin/auto-fu.zsh"]
	path = .zsh/plugin/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule ".vimperator/colors"]
	path = .vimperator/colors
	url = https://github.com/vimpr/vimperator-colors.git
[submodule ".vimperator/vimpr"]
	path = .vimperator/vimpr
	url = https://github.com/vimpr/vimperator-plugins.git
	branch = 3.6
