[user]
	name = knakayama
	email = knakayama.sh@gmail.com
[alias]
	st = status
	sts = status -s
	co = checkout
	com = commit -m
	coam = commit -am
	l = log --graph --oneline --all --branches --decorate
[color]
	ui = auto
[grep]
	lineNumber = true
[github]
	user = knakayama
[init]
	templatedir = ~/.gittemplates
	defaultBranch = main
[color "status"]
	added = green bold
	updated = green bold
	changed = red bold
	untracked = red bold
[diff]
	ignoreSubmodules = dirty
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[ghq]
	root = ~/ghq
[pull]
	ff = only

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
