.vim/bundle/.neobundle/
.tmux/*
.vim/.netrwhist
.vimperator/info
.vim/bundle/*
bin/rsense*
.vimperator/plugin
.zsh/completions/*
!.zsh/completions/.gitkeep
vendor
.bundle
.aws/*
.aws/*/*
!.aws/cli/alias
