"*":
  "advanced-open-file":
    createDirectories: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
  "autocomplete-paths":
    maxFileCount: 2000
  "autocomplete-plus":
    useCoreMovementCommands: false
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "symbols-view"
      "linter"
      "language-python"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
      "git-projects"
      "script"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "506913fe-3ce1-48fb-89ec-6a941f39ed2a"
  "git-plus":
    diffs:
      includeStagedDiff: false
  "git-projects":
    maxDepth: 3
    rootPath: "~/ghq"
    showGitInfo: false
  "linter-flake8":
    executablePath: "$PROJECT/.venv/bin/flake8"
    flakeErrors: true
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-mypy":
    executablePath: "$PROJECT_PATH/.venv/bin/python"
    mypyIniFile: "$PROJECT_PATH/mypy.ini"
  "linter-shellcheck": {}
  "linter-ui-default": {}
  "platformio-ide-terminal":
    core:
      scrollback: 100000
    toggles:
      autoClose: true
      runInsertedText: false
      selectToCopy: false
  "tree-view":
    hideVcsIgnoredFiles: false
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".python.regexp.source":
  editor:
    preferredLineLength: 801
