"*":
  "advanced-open-file":
    createDirectories: true
  "autocomplete-paths":
    maxFileCount: 2000
  "autocomplete-plus":
    useCoreMovementCommands: false
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "506913fe-3ce1-48fb-89ec-6a941f39ed2a"
  "linter-flake8":
    executablePath: "$PROJECT/.venv/bin/flake8"
    flakeErrors: true
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-shellcheck": {}
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core:
      scrollback: 100000
    toggles:
      autoClose: true
      runInsertedText: false
      selectToCopy: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
