'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space w': 'core:save'
  'ctrl-n': 'vim-mode-plus:next-tab'
  'ctrl-p': 'vim-mode-plus:previous-tab'
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

'.platform-darwin atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  'ctrl-cmd-r': 'script:run'
  'ctrl-cmd-shift-r': 'script:close-view'

'atom-text-editor.vim-mode-plus.normal-mode':
  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

'.platform-darwin atom-workspace':
  'ctrl-cmd-f': 'platformio-ide-terminal:focus'
  'ctrl-cmd-l': 'advanced-open-file:toggle'
  'ctrl-cmd-t': 'recent-files-fuzzy-finder:toggle-finder'
  'ctrl-cmd-z': 'platformio-ide-terminal:fullscreen'
  'ctrl-cmd-p': 'git-projects:toggle'

'atom-workspace':
  'ctrl-`': 'platformio-ide-terminal:toggle'

'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-i': 'autocomplete-plus:confirm'
