'.source.shell':
  'set':
    'prefix': 'set'
    'body': """
    set -xeuo pipefail

    $1
    """

'.source.yaml':
  'aws':
    'prefix': '---'
    'body': """
    ---
    AWSTemplateFormatVersion: 2010-09-09
    Transform: AWS::Serverless-2016-10-31
    Description: $1
    """
